<div class="jumbotron text-center">
  <h1 class="display-3">Pseudocoder</h1>
  <p class="lead">Welcome to Pseudocoder App.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" [routerLink]="['register']">Register</a>
    <a class="btn btn-default btn-lg" [routerLink]="['login']">Login</a>

    <!--
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    -->
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>express backend</h3>
    <p>a rock solid node.js express server using mongoose..</p>
  </div>
  <div class="col-md-4">
    <h3>angular-cli</h3>
    <p>angular-cli to generate components, services and more.</p>
  </div>
  <div class="col-md-4">
    <h3>jwt tokens</h3>
    <p>full featured authentication using json web tokens.</p>
  </div>
</div>
